<%= simple_form_for(@patient, wrapper: :standar) do |f| %>
  <% if @patient.errors.any? %>
    <div class="container container-fluid">
      <div id="error_explanation">
        <h3> Encontramos <%= pluralize(@patient.errors.count, "error") %>/es en el formulario:</h3>
        <ul>
        <% @patient.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  <fieldset>
    <legend class="text-center"><h2> <%= @title %> </h2></legend>

    <%= f.input :firstname %>
    <%= f.input :lastname %>
    <%= f.input :type_document_cd, include_blank: false, as: :select,
          collection:[['DNI', 'DNI'], ['CI', 'CI'], ['LD', 'LD']]%>
    <%= f.input :document_number, input_html: {min: "800000", max: "99999999"} %>
    <%= f.input :birthdate, as: :date, html5: true%>

    <%= f.input :nationality, include_blank: false, as: :select,
          collection: Country.all_translated('es'), selected: "Argentina" %>
    <%= f.input :gender_cd, include_blank: false, as: :select,
          collection:[['Femenino', 'femenino'], ['Masculino', 'masculino']]%>
    <%= f.input :obra_social_type %>
    <%= f.input :obra_social_number %>
    <%= f.input :phone %>
    <%= f.input :observations %>

    </div>
    <div class="actions form-group">
      <%= link_to "Cancelar", patients_path, class:"btn btn-danger"%>
      <%= f.submit class:"btn btn-primary", value: "Guardar"%>
    </div>
  <fieldset>
<% end %>
