<%= render template: 'notice' %>

  <div class="container-fluid">
    <div class="pull-left">
      <h2 class="text-center remove-margin">Listado de Pacientes</h2>
    </div>
    <div class="pull-right">
        <!-- <%= link_to 'Ingresar paciente', new_patient_path, class:"btn btn-sm btn-default" %> -->
        <form class="form-inline" method="GET">
            <input type="text" class="form-control" min="3" name="name" placeholder="nombre/apellido">
            <button class="btn btn-sm btn-default" type="submit">Filtrar</button>
        </form>
    </div>
  </div>

  <hr>

<table class="table table-hover table-bordered table-condensed text-center">
  <thead>
    <tr>
      <th class="text-center">Nombre Apellido</th>
      <th class="text-center">Documento</th>
      <th class="text-center"></th>
    </tr>
  </thead>
  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= patient.firstname %> <%= patient.lastname %></td>
        <td><%= patient.type_document_cd %> <%= patient.document_number %></td>
        <td>
          <%= link_to 'Ver', patient, class:"btn btn-xs btn-info" %>
          <%= link_to 'Editar', edit_patient_path(patient), class:"btn btn-xs btn-info" %>
          <%= link_to 'Eliminar', patient, method: :delete, data: { confirm: 'Está seguro?' }, class:"btn btn-xs btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="pull-left">
  <%= paginate @patients %>
</div>
