<p id="notice"><%= notice %></p>

<p>
  <strong>Document number:</strong>
  <%= @patient.document_number %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @patient.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @patient.lastname %>
</p>

<p>
  <strong>Observations:</strong>
  <%= @patient.observations %>
</p>

<p>
  <strong>Inspections:</strong>
  <%= @patient.inspections %>
</p>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
