<div class="col-md-9 col-md-offset-0">
<%= render template: "notice" %>
  <div class="panel panel-default">
  	<div class="panel-body">
  		  <h3><legend class="text-center"> Informaci&oacute;n del paciente </h3></legend>

        <p>
          <strong><%= t 'activerecord.attributes.patient.fullname'%>:</strong>
          <%= @patient.lastname %>, <%= @patient.firstname %>
        </p>
        <p>
          <strong><%= t 'activerecord.attributes.patient.type_document_cd'%>:</strong>
          <%= @patient.type_document_cd %> <%= @patient.document_number %>
        </p>
        <p>
          <strong><%= t 'activerecord.attributes.patient.birthdate'%>:</strong>
          <%= @patient.birthdate.strftime "%d-%m-%Y" %>
        </p>
        <p>
          <strong><%= t 'activerecord.attributes.patient.gender_cd'%>:</strong>
          <%= @patient.gender_cd %>
        </p>
        <p>
          <strong><%= t 'activerecord.attributes.patient.nationality'%>:</strong>
          <%= @patient.nationality %>
        </p>
        <p>
          <strong><%= t 'activerecord.attributes.patient.obra_social'%>:</strong>
          <%= @patient.obra_social_type %> <%= @patient.obra_social_number %>
        </p>
        <p>
          <strong><%= t 'activerecord.attributes.patient.phone'%>:</strong>
          <%= @patient.phone %>
        </p>

        <p>
          <strong><%= t 'activerecord.attributes.patient.observations'%>:</strong>
          <%= @patient.observations %>
        </p>

        <p>
          <strong>
            <%= link_to 'Historial de estudios', patient_inspections_path(@patient), class: "btn btn-sm btn-default"  %>
            <%= link_to 'Agregar estudio', new_patient_inspection_path(@patient), class: "btn btn-sm btn-default"  %>
          </strong>
        </p>

    </div>
  </div>
  <div class="pull-left">
    <%= link_to 'Editar', edit_patient_path, class: "btn btn-sm btn-info"  %>
  	<%= link_to 'Eliminar', patient_path, class:"btn btn-sm btn-danger",
  							method: :delete, data: { confirm: '¿Estás seguro?' } %>
  </div>
  <div class="pull-right">
  	<%= link_to 'Volver', patients_path, class: "btn btn-sm btn-default" %>
  </div>
</div>
