<%= simple_form_for(([@patient, @patient.inspections.build]), wrapper: :standar,
        wrapper_mappings: {
          check_boxes: :horizontal_radio_and_checkboxes,
          radio_buttons: :horizontal_radio_and_checkboxes,
          file: :horizontal_file_input,
          boolean: :horizontal_boolean
        }) do |f| %>
  <%= f.error_notification %>
    <legend class="text-center"><h2> <%= @title %> </h2></legend>
    <div class="form-group">
      <button id="btn1" class="btn btn-default btn-ml" >VEDA</button>
      <button id="btn2" class="btn btn-default btn-ml">VCC</button>
    </div>
    <fieldset>
    <div class="form-inputs">
      <%= f.input :date, as: :date, html5: true, input_html: { value: Date.today }%>
      <%= f.input :study_of_name, include_blank: false, as: :select,
            collection:[['VideoEndoscopiaDigestivaAlta', 'VideoEndoscopiaDigestivaAlta'], ['VideoColonoscopia', 'VideoColonoscopia']]%>
      <%= f.input :reason %>
      <%= f.input :study_of_type %>
      <div id="here"></div>
      <%= f.input :conclusion %>
      <%= f.input :diagnostic %>
    </div>
    <div class="actions form-group">
      <%= link_to "Cancelar", :back , class:"btn btn-danger" %>
      <%= f.button :submit, class:"btn btn-primary"%>
    </div>
    <br>
  </fieldset>
<% end %>

<script>
$(document).ready(function(){
  $("#btn1").click(function(){
      $("#here")
      .append('<div class="form-group"><label class="col-md-4 control-label" for="inspection_esophagus">Esófago</label><br><textarea class="text required form-control" required="required" aria-required="true" maxlength="255" name="inspection[esophagus]" id="inspection_esophagus"></textarea></div>')
      .append('<div class="form-group"><label class="col-md-4 control-label" for="inspection_stomach">Estómago</label><br><textarea class="text required form-control" required="required" aria-required="true" maxlength="255" name="inspection[stomach]" id="inspection_stomach"></textarea></div>')
      .append('<div class="form-group"><label class="col-md-4 control-label" for="inspection_duodenum">Duodeno</label><br><textarea class="text required form-control" required="required" aria-required="true" maxlength="255" name="inspection[duodenum]" id="inspection_duodenum"></textarea></div>');
      $("#btn1").remove();
      $("#btn2").remove();
  });

  $("#btn2").click(function(){
      $("#here")
      .append('<div class="form-group"><label class="col-md-4 control-label" for="inspection_rectal_examination">Tacto rectal</label><br><textarea class="text required form-control" required="required" aria-required="true" maxlength="255" name="inspection[rectal_examination]" id="inspection_rectal_examination"></textarea></div>')
      .append('<div class="form-group"><label class="col-md-4 control-label" for="inspection_colonoscopy">Colonospía</label><br><textarea class="text required form-control" required="required" aria-required="true" maxlength="255" name="inspection[colonoscopy]" id="inspection_colonoscopy"></textarea></div>');
      $("#btn1").remove();
      $("#btn2").remove();
  });

});
</script>
