<% @title = "Editando datos"%>

<%= simple_form_for(@inspection, wrapper: :standar) do |f| %>
  <% if @inspection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@inspection.errors.count, "error") %> prohibited this inspection from being saved:</h2>

      <ul>
      <% @inspection.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <legend class="text-center"><h2> <%= @title %> </h2></legend>
  <%= f.input :date, as: :date, html5: true, input_html: { value: Date.today }%>
  <%= f.input :study_of_name, include_blank: false, as: :select,
        collection:[['VideoEndoscopiaDigestivaAlta', 'VideoEndoscopiaDigestivaAlta'], ['VideoColonoscopia', 'VideoColonoscopia']]%>
  <%= f.input :reason %>
  <%= f.input :study_of_type %>
  <% if @inspection.stomach || @inspection.esophagus || @inspection.duodenum %>
    <%= f.input :stomach %>
    <%= f.input :esophagus %>
    <%= f.input :duodenum %>
  <% else %>
    <%= f.input :rectal_examination %>
    <%= f.input :colonoscopy %>
  <% end %>
  <%= f.input :conclusion %>
  <%= f.input :diagnostic %>

  <br><br>
  <div class="field">
  <% @images.each do |image| %>
    <%= image_tag image.capture.url, style: "max-width:230px;max-height:230px" %>
    <%= link_to 'Eliminar', inspection_image_path(@inspection.id, image.id),
          class:"btn btn-sm btn-danger hidden-print", method: :delete%>
  <% end %>
  </div>

  <br><br>
  <div class="actions form-group">
    <%= link_to "Cancelar", inspection_path , class:"btn btn-danger" %>
    <%= f.submit class:"btn btn-primary", value: "Guardar"%>
  </div>
  <br><br><br><br>
<% end %>
