
<%= render template: "notice" %>

<hr>
<div class="container-fluid">
  <div class="pull-right">
    <strong>Fecha:</strong>
    <%= @inspection.date %>
  </div>

  <p>
    <strong>Estudio:</strong>
    <%= @inspection.study_of_name %>
  </p>

  <p>
    <u><strong>Datos del paciente</strong></u>
    <p>
      <div class="pull-right">
        <strong>Edad </strong><%= age(@patient.birthdate)%>
      </div>
      <strong>Apellido y nombre</strong><t>
      <%= @patient.lastname %> <%= @patient.firstname %>
      <br>
      <strong>Documento</strong>
      <%= @patient.type_document_cd %> <%= @patient.document_number %>
      <br>
      <strong>Obra Social</strong>
      <% if (@patient.obra_social_type.nil? || @patient.obra_social_number.nil?)  %>
        [Sin Obra Social]
      <% else %>
        <%= @patient.obra_social_type %> <%= @patient.obra_social_number %>
      <% end %>
    </p>
  </p>
</div>
<hr>
<div class="container-fluid">
  <p>
    <strong>Motivo de consulta:</strong>
    <%= @inspection.reason %>
  </p>

  <p>
    <strong>Tipo de Estudio:</strong>
    <%=@inspection.study_of_type %>
  </p>

  <p>
    <strong>Informe:</strong>
    <%= @inspection.report %>
  </p>

  <p>
    <strong>Conclusión:</strong>
    <%= @inspection.conclusion %>
  </p>

  <p>
    <strong>Diagnostic:</strong>
    <%= @inspection.diagnostic %>
  </p>
</div>
<hr>
<!--
<form class="new_image" id="new_image" action="/inspections/<%=%Q{#{@inspection.id}}%>" accept-charset="UTF-8" method="post">
  <div class="form-group">
    <input name="utf8" type="hidden" value="✓">
    <label> Imágenes </label>
    <input type="file" id="image" name="image" multiple="true" value="">
  </div>
  <div class="form-group">
    <input type="submit" name="commit" value="Guardar" class="btn btn-primary">
  </div>
</form> -->

<hr>
<div class="pull-left">
  <%= link_to 'Editar', edit_inspection_path(@inspection), class: "btn btn-sm btn-info"  %>
  <%= link_to 'Eliminar', inspection_path, class:"btn btn-sm btn-danger",
              method: :delete, data: { confirm: '¿Estás seguro?' } %>
</div>
<div class="pull-right">
  <%= link_to 'Volver', patient_inspections_path(@patient), class: "btn btn-sm btn-default" %>
</div>
