
<%= render template: "notice" %>
<div class="text-center">
  <div class="visible-print-inline">
    <img src="/caratula.png" alt="gastroenterologia" class="img-rounded" height="60%" width="60%">
  </div>
</div>
<div class="pull-right">
  <%= link_to "Imprimir", '#', class:"btn btn-default hidden-print", onclick: "printpage()" %>
</div>
<hr>
<div class="container-fluid">
  <div class="pull-right">
    <strong><%= t 'activerecord.attributes.inspection.date'%>:</strong>
    <%= @inspection.date %>
  </div>
  <p>
    <strong>Estudio:</strong>
    <%= @inspection.study_of_name %>
  </p>
  <p>
    <u><strong>Datos del paciente</strong></u>
      <div class="pull-right">
        <strong>Edad </strong><%= age(@patient.birthdate)%>
      </div>
      <strong>Apellido y nombre</strong><t>
      <%= @patient.lastname %> <%= @patient.firstname %>
      <br>
      <strong>Documento</strong>
      <%= @patient.type_document_cd %> <%= @patient.document_number %>
      <br>
      <strong>Obra Social</strong>
      <% if (@patient.obra_social_type.nil? || @patient.obra_social_number.nil?)  %>
        [Sin Obra Social]
      <% else %>
        <%= @patient.obra_social_type %> <%= @patient.obra_social_number %>
      <% end %>
  </p>
</div>
<hr class="remove-margin">
<br>
<div class="container-fluid">
  <p>
    <strong>Motivo de consulta:</strong>
    <%= @inspection.reason %>
  </p>

  <p>
    <strong>Tipo de Estudio:</strong>
    <%=@inspection.study_of_type %>
  </p>

<% if @inspection.stomach || @inspection.esophagus || @inspection.duodenum %>
<p>
  <strong>Esófago:</strong>
  <%= @inspection.esophagus %>
</p>
<p>
  <strong>Estómago:</strong>
  <%= @inspection.stomach %>
</p>
<p>
  <strong>Duoneno:</strong>
  <%= @inspection.duodenum %>
</p>
<% end %>

<% if @inspection.colonoscopy || @inspection.rectal_examination %>
<p>
  <strong>Tacto rectal:</strong>
  <%= @inspection.rectal_examination %>
</p>
<p>
  <strong>Colonoscopía:</strong>
  <%= @inspection.colonoscopy %>
</p>
<% end %>

  <p>
    <strong>Conclusión:</strong>
    <%= @inspection.conclusion %>
  </p>
  <p>
    <strong>Diagnostico:</strong>
    <%= @inspection.diagnostic %>
  </p>

  <% @images.each do |image| %>
    <%= image_tag image.capture.url, style: "max-width:230px;max-height:230px" %>
  <% end %>
  <br><br>
  <div class="hidden-print">
    <%= form_for([@inspection, @inspection.images.build], html: { multipart: true }) do |f| %>
      <div class="field">
        <%= f.label :"Imagenes" %><br>
        <%= f.file_field :capture, multiple: true%>
      </div>
      <%= f.hidden_field :name, :value => %Q{#{@patient.lastname}_#{@patient.firstname}/#{Time.new.strftime("%Y/%m/%d-%H.%Hhs")}}%>
      <div class="actions form-group">
        <%= f.submit class:"btn btn-primary", value: "Guardar"%>
      </div>
    <% end %>
  </div>
</div>

  <hr>
  <div class="hidden-print">
    <div class="pull-left">
      <%= link_to 'Editar', edit_inspection_path(@inspection), class: "btn btn-sm btn-info"  %>
      <%= link_to 'Eliminar', inspection_path, class:"btn btn-sm btn-danger",
                  method: :delete, data: { confirm: '¿Estás seguro?' } %>
    </div>
    <div class="pull-right">
      <%= link_to 'Volver', patient_inspections_path(@patient), class: "btn btn-sm btn-default" %>
    </div>
  </div>
<br><br>
