
<%= render template: "notice" %>
<div class="text-center">
  <div class="visible-print-inline">
    <img src="/caratula.png" alt="gastroenterologia" class="img-rounded" height="60%" width="60%">
  </div>
</div>
<div class="pull-right">
  <%= link_to "Imprimir", '#', class:"btn btn-default hidden-print", onclick: "printpage()" %>
</div>
<hr>
<div class="container-fluid">
  <div class="pull-right">
    <strong><%= t 'activerecord.attributes.inspection.date'%>:</strong>
    <%= @inspection.date %>
  </div>
  <p>
    <strong><%= t 'activerecord.attributes.inspection.study_of_name'%>:</strong>
    <%= @inspection.study_of_name %>
  </p>
  <p>
    <u><strong>Datos del paciente</strong></u>
      <div class="pull-right">
        <strong><%= t 'activerecord.attributes.patient.age'%>:</strong>
        <%= age(@patient.birthdate)%>
      </div>
      <strong><%= t 'activerecord.attributes.patient.fullname'%>:</strong>
      <%= @patient.lastname %> <%= @patient.firstname %>
      <br>
      <strong><%= t 'activerecord.attributes.patient.document'%>:</strong>
      <%= @patient.type_document_cd %> <%= @patient.document_number %>
      <br>
      <strong><%= t 'activerecord.attributes.patient.obra_social'%>:</strong>
      <% if (@patient.obra_social_type.nil? || @patient.obra_social_number.nil?)  %>
        [Sin Obra Social]
      <% else %>
        <%= @patient.obra_social_type %> <%= @patient.obra_social_number %>
      <% end %>
  </p>
</div>
<hr class="remove-margin">
<br>
<div class="container-fluid">
  <p>
    <strong><%= t 'activerecord.attributes.inspection.reason'%>:</strong>
    <%= @inspection.reason %>
  </p>
  <p>
    <strong><%= t 'activerecord.attributes.inspection.study_of_type'%>:</strong>
    <%=@inspection.study_of_type %>
  </p>
  <% if @inspection.stomach || @inspection.esophagus || @inspection.duodenum %>
    <p>
      <strong><%= t 'activerecord.attributes.inspection.esophagus'%>:</strong>
      <%= @inspection.esophagus %>
    </p>
    <p>
      <strong><%= t 'activerecord.attributes.inspection.stomach'%>:</strong>
      <%= @inspection.stomach %>
    </p>
    <p>
      <strong><%= t 'activerecord.attributes.inspection.duodenum'%>:</strong>
      <%= @inspection.duodenum %>
    </p>
  <% else %>
    <p>
      <strong><%= t 'activerecord.attributes.inspection.rectal_examination'%>:</strong>
      <%= @inspection.rectal_examination %>
    </p>
    <p>
      <strong><%= t 'activerecord.attributes.inspection.colonoscopy'%>:</strong>
      <%= @inspection.colonoscopy %>
    </p>
  <% end %>
  <p>
    <strong><%= t 'activerecord.attributes.inspection.conclusion'%>:</strong>
    <%= @inspection.conclusion %>
  </p>
  <p>
    <strong><%= t 'activerecord.attributes.inspection.diagnostic'%>:</strong>
    <%= @inspection.diagnostic %>
  </p>

  <% @images.each do |image| %>
    <%= image_tag image.capture.url, style: "max-width:230px;max-height:230px" %>
  <% end %>
  <br><br>
  <div class="hidden-print">
    <%= form_for([@inspection, @inspection.images.build], html: { multipart: true }) do |f| %>
      <div class="field">
        <%= f.label :"Imagenes" %><br>
        <%= f.file_field :capture, multiple: true%>
      </div>
      <%= f.hidden_field :name, :value => %Q{#{@patient.lastname}_#{@patient.firstname}/#{Time.new.strftime("%Y/%m/%d-%H.%Hhs")}}%>
      <div class="actions form-group">
        <%= f.submit class:"btn btn-primary", value: "Guardar"%>
      </div>
    <% end %>
  </div>
</div>

<hr>
<div class="hidden-print">
  <div class="pull-left">
    <%= link_to 'Editar', edit_inspection_path(@inspection), class: "btn btn-sm btn-info"  %>
    <%= link_to 'Eliminar', inspection_path, class:"btn btn-sm btn-danger",
                method: :delete, data: { confirm: '¿Estás seguro?' } %>
  </div>
  <div class="pull-right">
    <%= link_to 'Volver', patient_inspections_path(@patient), class: "btn btn-sm btn-default" %>
  </div>
</div>
<br><br>
